{% for interface, attrs in vars.ethernet_interfaces.items() %}
interface {{ interface }}
  description {{ attrs['description'] }}
{% if attrs['routed'] %}
  no switchport
  ip address {{ attrs['routed']['ip'] }}
{% if not vars.ospf_interfaces['ospf_' + interface]['passive'] %}
  ip ospf dead-interval {{ vars.ospf_dead }}
  ip ospf hello-interval {{ vars.ospf_hello }}
  ip ospf network {{ vars.ospf_interfaces['ospf_' + interface]['type'] }}
{% endif %}
{% endif %}
  {{ attrs['state'] }}
!
{% endfor %}
